<div class="col-md-12">
    <div class="col-md-12">
        <h1>Ventas</h1>    
    </div>
    <div class="well">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form form-vertical">
                    <div class="col-md-12">
                        <h2>Nueva Orden</h2><br>
                        <div class="control-group">
                            <h4>Fecha de Compra: <small>{{fecha| date:'medium'}}</small></h4><br>
                        </div>
                        <div class="control-group">
                            <h4>Fecha de Envío:  <small>{{fecha| date:'medium'}}</small></h4><br>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <select class="form-control" ng-model="order.customer" ng-options="c.firstName for c in customers">
                                    <option value="">Selecciona un Cliente.</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        <h4>Detalle de Orden:</h4>
                        <div class="col-md-12"><hr></div>

                        <div class="list-unstyled">
                            <div class="col-md-1">
                                <a ng-click="addOrderDetail()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
                            </div>
                            <div class="col-md-11">
                                <a class="list-group-item" ng-repeat="orderDetail in orderDetails">
                                    <select ng-model="orderDetail.item" ng-options="c.title for c in items">
                                        <option value="">-- Seleccione Producto --</option>
                                    </select>
                                    <input ng-model="orderDetail.quantity" type="number" min="0" />
                                    <button ng-click="removeOrderDetail(orderDetail)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                </a>
                                <hr>
                            </div>
                        </div>
                    </div>             
                </form>
                <div class="control-group">
                    <button type="submit" class="btn btn-primary" ng-click="saveOrder()">
                        Crear Orden
                    </button>
                </div>   
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <hr>
        <h1>Ordenes</h1>    
    </div>
    <div class="col-md-12">

        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No. Orden</th>                                
                        <th>Cliente</th>
                        <th>Fecha de Compra</th>
                        <th>Fecha de Envío</th>
                        <th>Detalle</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="order in orders">

                        <td>{{order.id}}</td>
                        <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
                        <td>{{order.orderDate}}</td> 
                        <td>{{order.shippedDate}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" ng-click="findOrderDetails(order)"> 
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="deleteOrder(order, $index)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Articulo</th>
                        <th>Artista</th>                                
                        <th>P.U.</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="detail in filtered">
                        <td>{{detail.item.title}}</td>
                        <td>{{detail.item.artist}}</td>
                        <td>{{detail.quantity}}</td>
                        <td>$ {{detail.item.unitPrice}}</td>
                        <td>$ {{detail.item.unitPrice * detail.quantity}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
