<!DOCTYPE html>

<html ng-app="myApp">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{stylesheet 'jquery.css' /}
        #{stylesheet 'bootstrap.css' /}
        #{stylesheet 'main.css' /}
        
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    #{script 'lib/jquery/jquery-1.10.2.min.js' /}

    #{script 'lib/angular/angular.min.js' /}
    #{script 'lib/angular/angular-resource.min.js' /}
    
    #{script 'app/bootstrap.js' /}
    #{script 'app/bootstrap.min.js' /}
    #{script 'app/controllers.js' /}
    #{script 'app/directives.js' /}
    #{script 'app/filters.js' /}
    #{script 'app/services.js' /}
    #{script 'app/app.js' /}

    </body>
</html>
